<h2>Pages List</h2>

<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<div class="pull-left">
			<!-- Split button -->
			<div class="btn-group">
				<a href="#" class="btn btn-default btn-sm dropdown-toggle dropdown-right-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="select-chosen">10</span> <i class="caret"></i></a>

				<ul class="dropdown-menu">
					<li class="active"><a href="#">10</a></li>
					<li><a href="#">25</a></li>
					<li><a href="#">50</a></li>
					<li><a href="#">All</a></li>
				</ul>
			</div>

			<span class="recors-per-page">records per page</span>
		</div>

		<div class="pull-right">
			<div class="form-group form-inline">
				<label>Search:</label>
				<input type="text" class="form-control input-sm" ng-model="query">
			</div>
		</div>
	</div>

	<div class="panel-body listing-page" ng-init="index()">
		<div class="row">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th ng-click="sort('id')">
							Id
							<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('title')">
							Title
							<span class="glyphicon sort-icon" ng-show="sortKey=='title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('description')">
							Description
							<span class="glyphicon sort-icon" ng-show="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="page in pages | filter:query | orderBy:sortKey:reverse">
						<td>{{page.Page.id}}</td>
						<td>{{page.Page.title}}</td>
						<td>{{page.Page.description}}</td>
						<td>
							<a href="#" class="btn btn-default btn-sm btn-icon icon-left">
								<i class="glyphicon glyphicon-pencil"></i>
								Edit
							</a>

							<a href="" ng-show="page.Page.status_id === '1'" class="btn btn-danger btn-sm btn-icon icon-left" ng-click="status(page.Page.id, 2, $index)">
								<i class="glyphicon glyphicon-remove"></i>
								Deactivate
							</a>

							<a href="" ng-show="page.Page.status_id === '2'" class="btn btn-success btn-sm btn-icon icon-left" ng-click="status(page.Page.id, 1, $index)">
								<i class="glyphicon glyphicon-ok"></i>
								Activate
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row">
			<div class="data-table-container">
				<div class="clearfix">
					<div class="data-table-info pull-left">
						<p>Showing 1 to 2 of 2 entries</p>
					</div>

					<div class="pull-right">
						<nav>
							<ul class="pagination pagination-sm">
								<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<a ui-sref="/admin/pages/add" class="btn btn-primary">
	<i class="glyphicon glyphicon-plus"></i> Add page
</a>