<div class="inner-container">
    <div class="container">
        <div class="row">
            <div class="checkout-container col-md-9">
                <h3>My Shopping Bag(2)</h3>

                <div class="product-options clearfix">
                    <div class="col-md-3">
                        <img src="images/pic1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-9">
                        <div class="product-info clearfix">
                            <div class="pull-left">
                                <h4><a href="#">Mountain Hopper(XS R034)</a></h4>
                                <p>Model No: 3578</p>

                                <div class="purchasing-info">
                                    <p>Size : 5</p>
                                    <p>Qty : 1</p>
                                </div>
                            </div>

                            <div class="pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </div>
                        </div>

                        <div class="product-delivery clearfix">
                            <div class="row">
                                <p class="col-sm-6 service">Service Charges : Rs.100.00</p>
                                <p class="col-sm-6 delivery">Delivered in 2-3 bussiness days</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-options clearfix">
                    <div class="col-md-3">
                        <img src="images/pic2.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-9">
                        <div class="product-info clearfix">
                            <div class="pull-left">
                                <h4><a href="#">Mountain Hopper(XS R034)</a></h4>
                                <p>Model No: 3578</p>

                                <div class="purchasing-info">
                                    <p>Size : 5</p>
                                    <p>Qty : 1</p>
                                </div>
                            </div>

                            <div class="pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </div>
                        </div>

                        <div class="product-delivery clearfix">
                            <div class="row">
                                <p class="col-sm-6 service">Service Charges : Rs.100.00</p>
                                <p class="col-sm-6 delivery">Delivered in 2-3 bussiness days</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="checkout-sidebar col-md-3">
                <button class="btn btn-default btn-block orange-btn">Continue to basket</button>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <td class="price">Price Details</td>
                                <td></td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Total</td>
                                <td>6200.00</td>
                            </tr>
                            <tr>
                                <td>Discount</td>
                                <td>--</td>
                            </tr>
                            <tr>
                                <td>Delivery Charges</td>
                                <td>150.00</td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td class="price">TOTAL</td>
                                <td class="price">6350.00</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <button class="btn btn-default btn-block orange-btn">Place Order</button>

                <div class="coupons-container">
                    <h4>OPTIONS</h4>

                    <div class="clearfix coupon-box">
                        <p class="pull-left">COUPONS</p>
                        <button class="btn btn-default orange-btn pull-right">Apply Coupons</button>
                    </div>

                    <p><a href="#">Log In</a> to use accounts - linked coupons</p>
                </div>
            </div>
        </div>
    </div>
</div>