.admin-container {
	position: relative;
	padding-left: 280px;

	&.admin-login-container {
		padding-left: 0;
		color: $brand-primary;
	}

	h2 {
		font-size: 2em;
		margin-bottom: 20px;
		color: $brand-primary;
	}

	.login-container {
		max-width: 400px;
		padding-top: 75px;

		h3 {
			margin-bottom: 20px;
		}

		hr {
			margin-bottom: 10px;
		}

		a {
			color: $brand-primary;
		}

		.register-link {
			padding-bottom: 60px;
		}

		.logo {
			padding-bottom: 25px;
		}
	}

	.admin-header {
		border-bottom: solid 1px $border-color;
		padding-bottom: 10px;
		margin-bottom: 20px;

		a {
			color: $brand-primary;
			text-decoration: none;
			img {
				margin-right: 5px;
			}
		}

		ul {
			li {
				a {
					padding: 0px;

					&:hover,
					&:focus {
						background: none;
					}
				}

				.dropdown-menu {
					min-width: 190px;
					background-color: $brand-primary;
					border-radius: 4px;
					box-shadow: none;
					border: 0;
					top: 120%;
					padding: 2px 0;

					li {
						border-bottom: solid 1px darken(#fff, 50%);

						&:last-child {
							border: 0;
						}

						&.glyphicon-triangle-top {
							position: absolute;
							border: 0;
							top: -8px;
							left: 20px;
						}

						a {
							padding: 8px 15px;
							color: darken(#fff, 25%);
							font-size: 12px;

							&:hover {
								color: #fff;
							}

							.glyphicon {
								margin-right: 5px;
							}
						}
					}
				}
			}
		}
	}

	.admin-footer {
		border-top: solid 1px $border-color;
		padding-top: 15px;
		font-size: 13px;
		margin-top: 15px;
	}

	.left-section {
		background-color: $brand-primary;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 280px;
		z-index: 999;

		h2 {
			color: #fff;
			padding: 30px 13px;
			text-transform: uppercase;
			font-size: 2.5em;
			margin: 0px;
			font-weight: 700;
		}

		ul {
			li {
				border-bottom: solid 1px darken(#fff, 80%);
				font-size: 13px;

				&.active {
					a {
						background: none;
						color: #fff;
					}
				}

				a {
					color: darken(#fff, 25%);

					span.glyphicon-th {
						padding-right: 5px;
					}

					span.glyphicon-menu-right,
					span.glyphicon-menu-down {
						font-size: 11px;
					}

					&:hover,
					&:focus {
						background: none;
						text-decoration: none;
					}
				}

				.slideDropdown {
					background-color: darken($brand-primary, 3%);
					list-style-type: none;
					margin: 0;
					padding: 0;

					li {
						&:last-child {
							border-bottom: 0;
						}

						&.active {
							a {
								background: none;
								color: #fff;
							}
						}

						a {
							padding: 10px 37px;
							display: block;
						}
					}
				}
			}
		}
	}

	.right-section {
		position: relative;
		min-height: 700px;
		float: left;
		width: 100%;
		z-index: 99;
		padding: 20px;
	}

	.panel-primary {
		border-color: $border-color;
		box-shadow: none;

		.panel-heading {
			background: none;
			color: $black;
			border-color: $border-color;
			padding: 15px;
			color: $grey-color;
			font-size: 13px;

			.form-inline {
				margin-bottom: 0;
			}
		}

		.panel-body {
			&.listing-page {
				padding-bottom: 0;
			}
			
			.table {
				margin-top: -15px;
				margin-bottom: 0;
			}
		}
	}

	.form-group {
		label {
			color: $grey-color;
			font-size: 12px;
			font-weight: 300;
		}

		.form-control {
			border-color: $border-color;

			&:focus {
				box-shadow: none;
				border-color: darken($border-color, 15%);
			}
		}

		textarea.form-control {
			min-height: 120px;
		}
	}

	.dropdown-right-icon {
		padding: 0 7px;
		margin-right: 5px;

		.select-chosen {
			border-right: solid 1px darken($border-color, 10%);
			padding: 3px 12px 3px 7px;
			display: inline-block;
			margin-right: 5px;
		}
	}

	.data-table-container {
		background-color: $brand-default;
		padding: 10px 15px;

		.data-table-info {
			color: $grey-color;
			font-size: 13px;
			padding-top: 7px;
		}
	}

	.pagination {
		margin: 0;

		li {
			&.active {
				a {
					background-color: $brand-primary;
					border-color: $brand-primary;
					color: #fff;
				}
			}

			a {
				color: $black;
			}
		}
	}

	.table {
		border: 0;
		color: $grey-color;
		font-size: 13px;

		thead {
			background-color: $brand-default;
			tr {
				th {
					border-bottom: 0;

					&:first-child {
						border-left: 0;
					}
					&:last-child {
						border-right: 0;
					}
				}
			}
		}

		tbody {
			tr {
				td {
					&:first-child {
						border-left: 0;
					}
					&:last-child {
						border-right: 0;
					}
				}
			}
		}
	}
}