footer {
	.footer-links-container {
		background-color: lighten($black, 5%);
		padding: 2.5em 0;

		h3 {
			color: #fff;
			font-size: 1.5em;
			font-weight: 500;
			text-transform: uppercase;
			padding: 0 0 .7em;
		}

		ul {
			li {
				font-size: 1.1em;
				a {
					color: darken(#fff, 30%);
					padding: .2em 0;

					i {
						width: 24px;
						height: 24px;
						background-image: url('../images/img-sprite.png');
						background-repeat: no-repeat;
						display: block;
						margin: 0 5px 0 0;

						&.facebook {
							background-position: -9px -14px;
						}

						&.twitter {
							background-position: -43px -14px;
						}

						&.rss {
							background-position: -77px -14px;
						}

						&.gmail {
							background-position: -110px -14px;
						}
					}

					&:hover,
					&:focus {
						background: none;
						color: $orange;
					}
				}
			}
		}

		p {
			font-size: 1.1em;
			color: darken(#fff, 30%);
		}

		.navbar-form {
			padding: 10px 0px;

			input {
				border-radius: 0px;
				border: 0px;
				height: 34px;
			}

			.btn {
				border-radius: 0px;
				border: 0px;
				height: 34px;
				background-color: $orange;
				color: #fff;

				&:hover {
					background-color: #fff;
					color: $orange;
				}
			}
		}
	}

	.copyright-container {
		background-color: $black;

		p {
			font-size: 1.1em;
			color: #fff;
			margin: 1em 0;
		}
	}
}