.sidebar {
	.sidebar-section {
		margin: 0 0 2em; 

		.sidebar-heading {
			border-bottom: solid 1px #000;
			margin-bottom: 1em;

			h3 {
				border-bottom: solid 1px #000;
				display: inline-block;
			}
		}

		/*ul.nav {
			li {
				font-size: 1.1em; 

				&.active {
					a {
						background: none;
						color: $orange;
					}

					.dropdown-menu {
						display: block;
						a {
							color: $black;
						}
					}
				}

				a {
					padding: .2em 0;
					color: #000;

					&:hover,
					&:focus {
						background: none;
						color: $orange;
					}
				}

				.dropdown-menu {
					position: relative;
					float: none;
					border: 0;
					border-radius: 0;
					box-shadow: none;
					padding: 7px 20px;
				}
			}
		}*/

		.panel-default {
			border: 0;
			background: none;
			font-size: 1em;
			font-weight: normal;
			border-radius: 0;
			box-shadow: none;

			.panel-heading {
				background: none;
				padding: 5px 0;

				.panel-title {
					a {
						color: #000;
						font-size: 1em;
						font-weight: normal;
						display: block;
						outline: none;

						&:hover {
							color: $orange;
						}

						&:hover,
						&:focus {
							text-decoration: none;
						}
					}
				}
			}

			.panel-body {
				padding: 0 15px;
				border: 0;

				ul {
					li {
						a {
							padding: 3px 0;
							color: #000;

							&:hover,
							&:focus {
								background: none;
							}
						}
					}
				}
			}
		}

		.media {
			.media-body {
				a {
					color: $orange;
					font-size: 1.7em;

					&:hover,
					&:focus {
						text-decoration: none;
					}
				}
			}
		}
	}
}