<h2>Site Details</h2>

<div class="panel panel-primary">
	<div class="panel-heading">
		All fields have validation rules
	</div>

	<div class="panel-body">
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="form-control" name="email">
		</div>

		<div class="form-group">
			<label>Phone</label>
			<input type="text" class="form-control" name="phone">
		</div>

		<div class="form-group">
			<label>Address</label>
			<textarea class="form-control" name="address"></textarea>
		</div>

		<div class="form-group">
			<label>Host</label>
			<input type="text" class="form-control" name="host">
		</div>

		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="username">
		</div>

		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<div class="form-group">
			<label>Port</label>
			<input type="text" class="form-control" name="port">
		</div>

		<div class="form-group">
			<label>Powered By</label>
			<input type="text" class="form-control" name="poweredBy">
		</div>

		<div class="form-group">
			<label>Copyright</label>
			<input type="text" class="form-control" name="copyright">
		</div>
	</div>
</div>