<h2>Products List</h2>

<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<div class="pull-left">
			<!-- Split button -->
			<div class="btn-group">
				<a href="#" class="btn btn-default btn-sm dropdown-toggle dropdown-right-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="select-chosen">10</span> <i class="caret"></i></a>

				<ul class="dropdown-menu">
					<li class="active"><a href="#">10</a></li>
					<li><a href="#">25</a></li>
					<li><a href="#">50</a></li>
					<li><a href="#">All</a></li>
				</ul>
			</div>

			<span class="recors-per-page">records per page</span>
		</div>

		<div class="pull-right">
			<div class="form-group form-inline">
				<label>Search:</label>
				<input type="text" class="form-control input-sm">
			</div>
		</div>
	</div>

	<div class="panel-body listing-page">
		<div class="row">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Title</th>
						<th>Image</th>
						<th>Price</th>
						<th>Description</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>1</td>
						<td>Lorem ipsum</td>
						<td></td>
						<td>$100.00</td>
						<td>Lorem ipsum dolor amit</td>
						<td>
							<a href="#" class="btn btn-default btn-sm btn-icon icon-left">
								<i class="glyphicon glyphicon-pencil"></i>
								Edit
							</a>

							<a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
								<i class="glyphicon glyphicon-remove"></i>
								Deactivate
							</a>

							<a href="#" class="btn btn-success btn-sm btn-icon icon-left">
								<i class="glyphicon glyphicon-ok"></i>
								Activate
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row">
			<div class="data-table-container">
				<div class="clearfix">
					<div class="data-table-info pull-left">
						<p>Showing 1 to 2 of 2 entries</p>
					</div>

					<div class="pull-right">
						<nav>
							<ul class="pagination pagination-sm">
								<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<a ui-sref="/admin/products/add" class="btn btn-primary">
	<i class="glyphicon glyphicon-plus"></i> Add Product
</a>