<div class="inner-container">
    <div class="container">
        <div class="row">
            <div data-ng-include="'views/elements/sidebar.html'"></div>
            <div class="products-container col-md-9">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="#"><img src="images/pi3.jpg" alt=""></a>
                        <div class="caption">
                            <p>It is a long established fact that a reader</p>
                            <a href="#" class="btn btn-default btn-block orange-btn" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> $500.00</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="#"><img src="images/pi3.jpg" alt=""></a>
                        <div class="caption">
                            <p>It is a long established fact that a reader</p>
                            <a href="#" class="btn btn-default btn-block orange-btn" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> $500.00</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="#"><img src="images/pi3.jpg" alt=""></a>
                        <div class="caption">
                            <p>It is a long established fact that a reader</p>
                            <a href="#" class="btn btn-default btn-block orange-btn" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> $500.00</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="#"><img src="images/pi3.jpg" alt=""></a>
                        <div class="caption">
                            <p>It is a long established fact that a reader</p>
                            <a href="#" class="btn btn-default btn-block orange-btn" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> $500.00</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="#"><img src="images/pi3.jpg" alt=""></a>
                        <div class="caption">
                            <p>It is a long established fact that a reader</p>
                            <a href="#" class="btn btn-default btn-block orange-btn" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> $500.00</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="#"><img src="images/pi3.jpg" alt=""></a>
                        <div class="caption">
                            <p>It is a long established fact that a reader</p>
                            <a href="#" class="btn btn-default btn-block orange-btn" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> $500.00</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="#"><img src="images/pi3.jpg" alt=""></a>
                        <div class="caption">
                            <p>It is a long established fact that a reader</p>
                            <a href="#" class="btn btn-default btn-block orange-btn" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> $500.00</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="#"><img src="images/pi3.jpg" alt=""></a>
                        <div class="caption">
                            <p>It is a long established fact that a reader</p>
                            <a href="#" class="btn btn-default btn-block orange-btn" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> $500.00</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="#"><img src="images/pi3.jpg" alt=""></a>
                        <div class="caption">
                            <p>It is a long established fact that a reader</p>
                            <a href="#" class="btn btn-default btn-block orange-btn" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> $500.00</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>