<div class="login-container container">
    <h3 class="text-center">Login</h3>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password">
        </div>

        <div class="clearfix">
        	<div class="col-md-6">
        		<button type="submit" class="btn btn-default orange-btn">Login</button>
        	</div>
        	<div class="col-md-6">
        		<p><a ui-sref="admin/forgotpassword">Lost your password?</a></p>
        	</div>
        </div>

        <hr />

        <div class="text-center">
	        <p class="register-link"><a ui-sref="admin/register">New to site? Create Account</a></p>
	        <img src="images/logo.png" alt="" class="logo">
	        <p class="copyright">
	        	&copy; 2016 All Rights Reserved. New Store Online Shopping<br>
	        	<a href="#">Privacy and Terms</a>
	        </p>
        </div>
    </form>
</div>