<div class="login-container container">
    <h3 class="text-center">Forgot Password</h3>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Email">
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-default orange-btn">Submit</button>
        </div>

        <hr />

        <div class="text-center">
	        <p class="register-link"><a ui-sref="admin/login">Already a member ? Log in</a></p>
	        <img src="images/logo.png" alt="" class="logo">
	        <p class="copyright">
	        	&copy; 2016 All Rights Reserved. New Store Online Shopping<br>
	        	<a href="#">Privacy and Terms</a>
	        </p>
        </div>
    </form>
</div>