<div class="inner-container">
    <div class="container login-container">
        <h2>Register</h2>

        <div class="col-md-6">
            <h3>Personal Information</h3>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Email Address</label>
                <input type="email" class="form-control">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"> Sign up for Newsletter
                </label>
            </div>
        </div>

        <div class="col-md-6">
            <h3>Login Information</h3>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control">
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control">
            </div>

            <button type="submit" class="btn btn-default orange-btn">Submit</button>
        </div>
    </div>
</div>