<div class="clearfix">
	<div class="col-md-3 pull-left">
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="images/thumb-1.png" alt="" class="img-circle"> admin@admin.com</a>
				<ul class="dropdown-menu">
					<li class="glyphicon glyphicon-triangle-top"></li>
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Edit Profile</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="col-md-3 pull-right text-right padding-top-10">
		<a href="#">Logout <span class="glyphicon glyphicon-log-out"></span></a>
	</div>
</div>