<h2>New Store</h2>

<uib-accordion close-others="oneAtATime" data-ng-init="init()">
	<uib-accordion-group is-open="group.open" ng-repeat="group in groups">
	    <uib-accordion-heading>
	    	<div ng-if="!group.subMenu" ng-click="redirect(group.url)">
	    		<span class="glyphicon glyphicon-th"></span> {{group.title}}
	    	</div>

	    	<div ng-if="group.subMenu">
	    		<span class="glyphicon glyphicon-th"></span> {{group.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-menu-down': group.open, 'glyphicon-menu-right': !group.open}"></i>
	    	</div>
	    </uib-accordion-heading>
	    <ul class="nav nav-pills nav-stacked"  ng-if="group.subMenu">
	    	<li ng-repeat="subMenu in group.subMenu"><a ui-sref="{{subMenu.url}}">{{subMenu.title}}</a></li>
	    </ul>
	</uib-accordion-group>
</uib-accordion>