<h2>New Store</h2>

<ul class="nav nav-pills nav-stacked">
	<li class="active">
		<a ui-sref="dashboard"><span class="glyphicon glyphicon-th"></span> Dashboard</a>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span class="glyphicon glyphicon-th"></span> Pages <span class="glyphicon glyphicon-menu-right"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">Demo link</a></li>
			<li><a href="#">Demo link</a></li>
			<li><a href="#">Demo link</a></li>
			<li><a href="#">Demo link</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span class="glyphicon glyphicon-th"></span> Banners <span class="glyphicon glyphicon-menu-right"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">Demo link</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span class="glyphicon glyphicon-th"></span> Products <span class="glyphicon glyphicon-menu-right"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">Demo link</a></li>
		</ul>
	</li>
</ul>