<div class="footer-links-container clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>More Info</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">How to order</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Membership</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3>Contact Us</h3>
                <p>Contrary to popular belief<br>
                The standard chunk<br>
                office: +12 34 995 0792</p>

                <ul class="nav nav-pills">
                    <li><a href="#"><i class="facebook"></i></a></li>
                    <li><a href="#"><i class="twitter"></i></a></li>
                    <li><a href="#"><i class="rss"></i></a></li>
                    <li><a href="#"><i class="gmail"></i></a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3>Newsletter</h3>
                <p>Sign Up to get all news update and promo</p>
                <form class="navbar-form" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="copyright-container">
    <div class="container">
        <p class="text-center">&copy; 2016 New store All Rights Reserved</p>
    </div>
</div>