<div class="sidebar col-md-3" data-ng-controller="SidebarCtrl">
    <div class="sidebar-section">
        <div class="sidebar-heading">
            <h3>Categories</h3>
        </div>

        <!-- <ul class="nav nav-pills nav-stacked">
            <li class="dropdown active">
                 <a href="" class="dropdown-slideToggle">Men</a>
                 <ul class="dropdown-menu">
                    <li><a href="#">Cute Kittens</a></li>
                    <li><a href="#">Strange Stuff</a></li>
                    <li><a href="#">Automatic Fails</a></li>
                 </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-slideToggle">Women</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Cute Kittens</a></li>
                    <li><a href="#">Strange Stuff</a></li>
                    <li><a href="#">Automatic Fails</a></li>
                 </ul>
            </li>
            <li class="dropdown">
                <a href="">Kids</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Cute Kittens</a></li>
                    <li><a href="#">Strange Stuff</a></li>
                    <li><a href="#">Automatic Fails</a></li>
                </ul>
            </li>
            <li><a href="#">Accesories</a></li>
            <li><a href="#">Shoes</a></li>
        </ul> -->

        <div ng-controller="SidebarCtrl">
            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group is-open="status.open" ng-repeat="category in categories">
                    <uib-accordion-heading>
                        <div ng-if="!category.content" ng-click="redirect('/products/'+category.title)">
                            {{category.title}}
                        </div>

                        <div ng-if="category.content">
                            {{category.title}}
                        </div>
                    </uib-accordion-heading>

                    <ul class="nav nav-pills nav-stacked"  ng-if="category.content">
                        <li ng-repeat="link in category.content"><a href="#">{{link}}</a></li>
                    </ul>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-heading">
            <h3>Best Sellers</h3>
        </div>

        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="images/p1.jpg" alt="">
                </a>
            </div>
            <div class="media-body">
                <p>Lorem ipsum dolor sit amet consectetuer</p>
                <a href="#">$40.00</a>
            </div>
        </div>

        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="images/p1.jpg" alt="">
                </a>
            </div>
            <div class="media-body">
                <p>Lorem ipsum dolor sit amet consectetuer</p>
                <a href="#">$40.00</a>
            </div>
        </div>
    </div>

    <div class="sidebar-section">
        <a href="#"><img src="images/pro.jpg" alt="" class="img-responsive"></a>
    </div>
</div>